.App {
  text-align: center;
  padding: 0 5%; /* Keep this padding */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  position: relative;
}

.App-content {
  max-width: 1400px; /* Adjust this value as needed */
  margin: 0 auto;
}

.App-playlist {
  display: flex;
  justify-content: center;
  gap: 2%; /* Adds space between the two elements */
  width: 100%;
  padding-top: 45px;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    flex-direction: column;
    align-items: center;
  }
}